/*background and formatting*/
body {
  background: url("img/festive/snowbg.gif"), url("img/festive/red.jpg");
  background-repeat: repeat, repeat; 
	background-size: 480px 480px, 100px 100px;
}

p {
  color: white;
}

li {
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}



.bottom {
  position: fixed;
  bottom: 4px;
}

/*link stuff*/
a:link {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}

/*button stuff (for radio)*/
.buttonstuff {
  font-family: verdana;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*DIV STUFF*/
#borderbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 270px;
  padding: 2px;
}

.warningbox {
  border-style: solid;
  border-width: 5px;
  border-color: #d14f4f;
  background: rgba(200,0,0,0.3);
  width: 70%;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.headerbox {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200,200,150,0.5);
  background: rgba(200,200,150,0.2);
  width: 70%;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.headerboxsmall {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200,200,150,0.5);
  background: rgba(200,200,150,0.2);
  width: 40%;
  max-width: 500px;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.infobox {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200,200,150,0.5);
  background: rgba(200,200,150,0.2);
  width: 70%;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.infoboxsmall{
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200,200,150,0.5);
  background: rgba(200,200,150,0.2);
  width: 18%;
  max-width: 400px;
  min-width: 100px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

/*alerts*/

/* alert code:
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  This is an alert box.
</div>
*/

.alert1 {
  padding: 5px;
  background-color: rgba(200,0,0,0.5);
  color: black;
  margin-bottom: 15px;
  font-family: verdana;
  position: fixed;
  top: 5px;
}

.alert2 {
  padding: 5px;
  background-color: rgba(200,0,0,0.4);
  color: black;
  margin-bottom: 15px;
  font-family: verdana;
  position: fixed;
  top: 40px;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: white;
}