body {
  background-image: linear-gradient(
  45deg, 
  #f0f5d8 25%, 
  #e5ebca 25%, 
  #e5ebca 50%, 
  #f0f5d8 50%, 
  #f0f5d8 75%, 
  #e5ebca 75%, 
  #e5ebca 100%);
  background-size: 141.42px 141.42px;
);
}

h1 {
  text-align: center;
  font-family: verdana;
  line-height: 80%;
}

p {
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  line-height: 95%;
}

a:link {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}

.bottom {
  font-size: 10px;
  position: fixed;
  bottom: 0;
}