/*background and formatting*/
body {
  background-image: linear-gradient(45deg,
      #f0f5d8 25%,
      #e5ebca 25%,
      #e5ebca 50%,
      #f0f5d8 50%,
      #f0f5d8 75%,
      #e5ebca 75%,
      #e5ebca 100%);
  background-size: 141.42px 141.42px;
}

h1 {
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  line-height: 80%;
}

p {
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  line-height: 95%;
}

/*centering*/
form {
  text-align: center;
}

input {
  font-family: verdana;
  line-height: 95%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200, 200, 150, 0.7);
  padding: 0px;
  margin: auto;
  display: block;
}

/*link stuff*/
a:link {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}

/*bottom of page text*/
.bottom {
  font-size: 10px;
  position: fixed;
  bottom: 0;
}

.bottom2 {
  font-size: 10px;
  position: fixed;
  bottom: 10px;
}

.bottom3 {
  font-size: 10px;
  position: fixed;
  bottom: 20px;
}

.bottomright {
  text-align: center;
  font-family: verdana;
  font-size: 10px;
  line-height: 95%;
  position: fixed;
  bottom: 10px;
  right: 8px;
}

.bottomright2 {
  text-align: center;
  font-family: verdana;
  font-size: 10px;
  line-height: 95%;
  position: fixed;
  bottom: 20px;
  right: 8px;
}

/*button stuff (for radio)*/
.buttonstuff {
  font-family: verdana;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*DIV STUFF*/
#borderbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 270px;
  padding: 2px;
}

.warningbox {
  border-style: solid;
  border-width: 5px;
  border-color: #d14f4f;
  background: rgba(200, 0, 0, 0.3);
  width: 70%;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.headerbox {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200, 200, 150, 0.5);
  background: rgba(200, 200, 150, 0.2);
  width: 70%;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.headerboxsmall {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200, 200, 150, 0.5);
  background: rgba(200, 200, 150, 0.2);
  width: 40%;
  max-width: 500px;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.infobox {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200, 200, 150, 0.5);
  background: rgba(200, 200, 150, 0.2);
  width: 70%;
  min-width: 250px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.infoboxsmall {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(200, 200, 150, 0.5);
  background: rgba(200, 200, 150, 0.2);
  width: 18%;
  max-width: 400px;
  min-width: 100px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.timerDisplay {
  padding: 10px;
  text-align: center;
  font-family: verdana;
  font-size: 4vw;
  line-height: 95%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px
}

.buttons button {
  background-color: #f0f5d8;
  color: #000000;
  border: none;
  font-family: verdana;
  padding: 2px 4px;
}

/*alerts*/

/* alert code:
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  This is an alert box.
</div>
*/

.alert1 {
  padding: 5px;
  background-color: rgba(200, 0, 0, 0.5);
  color: black;
  margin-bottom: 15px;
  font-family: verdana;
  position: fixed;
  top: 5px;
}

.alert2 {
  padding: 5px;
  background-color: rgba(200, 0, 0, 0.4);
  color: black;
  margin-bottom: 15px;
  font-family: verdana;
  position: fixed;
  top: 40px;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: white;
}